* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.to-do-list {
  margin: auto;
  width: 33%;
  text-align: center;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  .to-do-list-inner {
    width: 90%;
    margin: auto;
    .items {
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      transition: all 0.5s;
    }
    h1 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      padding: 10px;
    }
    .to-do-sort {
      margin-left: auto;
      width: 25px;
      padding-bottom: 11px;
      margin-right: 2%;
      img {
        width: 100%;
      }
    }
    .item {
      text-align: start;
      padding-left: 10%;
      margin-bottom: 10px;
      width: 100%;
      position: relative;
      height: 40px;
      transition: all 0.5s;
      input {
        outline: none;
        border-radius: 10px;
        width: 70%;
        border: 0;
        height: 100%;
      }
      img {
        position: absolute;
        right: 10%;
        top: 27%;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .to-do-add {
      margin: 20px;
      button {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        outline: none;
        border: 0;
        width: 40%;
        background: #833ae0;
        border-radius: 71px;
        color: white;
        transition: all 0.5s;
        &:hover {
          opacity: 0.7;
        }
        span {
          &:first-child {
            display: inline-block;
            width: 25%;
            padding: 16px;
            border-radius: 71px;
            background-color: #9953f1;
          }
          &:last-child {
            margin: auto;
          }
        }
      }
    }
  }
  .yellow {
    background-color: #ffdc40;
    height: 28px;
    border-radius: 10px 10px 0 0;
  }
}
